.page-list::-webkit-scrollbar {
    margin-top: 5px;
    height: 5px;
    padding-top: 10px;
  }
  
  /* Track */
  .page-list::-webkit-scrollbar-track {
    padding-top: 10px;
  }
  
  /* Handle */
  .page-list::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2.5px;
    padding-top: 10px;
  }
.page-list{
    display: flex;
    height: 40px;
    overflow-x: scroll;
    max-width: 100%;
    padding-bottom: 5px;
}
.page-list > .page{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}
.page-list > .page:hover{
    background-color: rgb(250, 250, 250);
}
.title{
    font-size: 18px;
    margin-top: 10px;
    text-transform: capitalize;
}

.options{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}
.options .search{
    display: flex;
    height: 30px;
}
.options .search input{
    border: 2px solid black;
    padding: 0 10px;
    height: 100%;
    outline: none;
}
.options .search span{
    display: inline-block;
    background-color: black;
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
.options .sort{
    height: 30px;
    padding: 0 10px;
    border: 2px solid black;
}
.options .sort select{
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
}
.clear-search{
    font-style: italic;
}
.clear-search:empty{
    display: none;
}
.clear-search span{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.product-content .card{
    display: flex;
    flex-direction: column;
}
.product-content .card .img{
    border: 1px solid rgb(206, 206, 206);
}
.product-content .card img{
    width: 100%;
    padding: 10px;
    aspect-ratio: 1/1.35;
    object-fit: contain;
}
.product-content .card .card-title{
    font-size: 14px;
    margin: 10px 0;
    flex: 1;
}
.product-content .card .price{
    font-weight: bold;
    color: var(--red);
}
.product-content .card .price span{
    color: black;
}
.product-content .card strike{
    color: gray;
}
.product-content .card button{
    height: 25px;
    margin-top: 10px;
    background-color: var(--red);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
}
.product-content .card button:hover{
    opacity: .8;
}
.add-product-btn{
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: var(--red);
    bottom: 30px;
    right: 30px;
    border-radius: 5px;
    box-shadow: 0 0 17px 6px #00000045;
    transition: scale .2s;
}
.add-product-btn:hover{
    scale: 1.1;
}
.add-product-btn span{
    color: white;
    cursor: pointer;
}

/* Modal */

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 100;
    top: 0;
    left: 0;
}
.modal .close{
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.modal-content{
    width: 90%;
    max-width: 400px;
    max-height: 90%;
    background-color: white;
    padding: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal-content:not([loading]) .loader{
    display: none;
}
.modal-content[loading] .loader{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s;
    pointer-events: none;
}
.loader .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#add-to-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#add-to-cart :is(input, select){
    height: 40px;
    margin: 0;
    padding: 0 10px;
    border: 2px solid black;
    outline: none;
    font-size: 15px;
    max-height: 300px;
}
#add-to-cart :is(input, select).error{
    border-color: red;
}
#add-to-cart input[type=submit]{
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#add-to-cart h2{
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
}